<div class="container is-large">
    <div class="grid">
      <!-- logo -->
      <div class="wi-2-12"><a href="index.html" class="fx-jst-center-sm"><img class="logo" src="assets/images/logo-chess-club.svg" /></a></div>

      <!-- contact-->
      <div class="wi-2-12 tx-sz1 tx-poc-sm fx-cnt-center-sm">
        <p>Krossener Straße 18<br>
          Friedrichshain<br>
          10245 Berlin</p>
      </div>

      <!-- main nav -->
      <nav class="wi-8-12">
       
          <ul class="nav-hor tx-sz2">
            <li><a href="members.html">Members</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="events.html">Event & Contact</a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i data-feather="instagram"></i></a></li>
            <li><a href="https://www.twitter.com/"><i data-feather="twitter"></i></a></li>
            
          </ul>
     

      </nav>
    </div>
    </div>

    <script>
      feather.replace()
    </script>