<div class="container is-large">

    <div class="grid">
      <!-- logo -->
      <div class="wi-3-12 wi-1-md"><a href="index.html"><img class="logo m-x6-sm" src="assets/images/logo-chess-club.svg" /></a></div>

      <!-- main nav -->
      <nav class="wi-9-12 wi-1-md">
       
          <ul class="nav-hor tx-sz3">
            <li><a href="members.html">Members</a></li>
            <li><a href="news.html">News</a></li>
            <li><a href="events.html">Event & Contact</a></li>
          </ul>
     

      </nav>
    </div>

  </div>